body {
    background-image: url('images/beautiful-ocean-pictures-33b2ht9d8bvriqu6.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/* audio {
    border-color: rgba(30, 255, 161, 0.849);
    border-style: double;
    border-radius: 50%;
} */

audio {
    width: 100%;
    max-width: 300px;
}

audio::-webkit-media-controls {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    padding: bottom 2px;
}

h2 {
    font-size: 32px;
}

h3 {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: auto;
    border-radius: 20px;
    border-style: double;
    border-color: rgba(30, 255, 161, 0.849);
    margin-bottom: 25px;
}

p {
    padding-bottom: 75px;
    max-width: 30%;
}

.A {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.B {
    background-color: black;
    color: rgba(30, 255, 161, 0.849);
    min-width: 20%;
    border-radius: 20px;
    border-style: double;
    border-color: rgba(30, 255, 161, 1);
    margin: 10px;
    padding: 10px;
}

.B ul {
    display: none;
}

.B:hover ul {
    display: block;
}

.C {
    background-color: black;
    color: rgba(30, 255, 161, 0.849);
    min-width: 20%;
    border-radius: 20px;
    border-style: double;
    border-color: rgba(30, 255, 161, 0.849);
    margin: 10px;
    padding: 10px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.center-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 35px;
}

ul {
    font-size: 15px;
    text-decoration: none;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
}

.content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: rgba(30, 255, 161, 1);
    color: rgb(68, 38, 28);
    text-align: center;
    padding: 3px;
    position: sticky;
    bottom: 0;
    width: 100%;
    opacity: 1;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

footer a:hover {
    text-decoration: none;
}





/* .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin-top: 20px;
}


.carousel-slide {
    text-align: center;
}

.carousel-slide img {
    max-width: auto;
    height: auto;
    width: 90%;
    max-height: 80vh;
} */
